# Para Docker use: postgres:5432 | Para local use: localhost:5432
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/simulador_examen"
PORT=4000
CORS_ORIGIN="http://localhost:3000"
NODE_ENV=development
